@import 'normalize';
@import 'skeleton';

body {
	@extend .container;
	background-color:#0964eb;
	color:white;
	text-align: center;
	font-family: "Roboto", "Adobe Blank", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#summary, #video {
	@extend .one-half;
	@extend .column;
}

#summary p{
	margin:0;
}

#summary a {
	margin:0;
}

h1{
	margin-bottom: 0.5rem;
}

h2{
	margin-bottom: 0;
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: normal;
}

header{
	margin-bottom: 2rem;
}

h1 img {
	width:82%;
	image-rendering: -moz-crisp-edges;
}

ul {
	list-style-type: none;
}



@media (min-width: 550px){
	li{
		display: inline-block;
		vertical-align: top;
		width: 48%;
	}
}

@media (min-width: 1000px){
	li{
		width: 30%;
	}
}

#html-sucks{
	padding-bottom: 56.25%;
	height:0;
	position:relative;
}

#video iframe {
	@extend .u-max-full-width;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.section {
		@extend .row;
		margin-bottom:8px;
}

@media (min-width: 550px) {
	section:first-of-type {
		display:flex;
		align-items: center;
	}
	h1 img {
		width:48%;
		max-width: 300px;
	}
}

#screenshots img {
	@extend .three;
	@extend .columns;
	margin-bottom: 8px;
}

#google_play {
	width:200px;
}

#amazon{
	height: 51px;
	padding-bottom: 13px;
}

@media (max-width: 920px){
	#amazon{
		width: 174px;
		height: auto;
		padding-bottom: 8px;
	}
}

.icon {
	width:24px;
}
